*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(45deg, #42a5f5,60%,#2196f3),
    linear-gradient(225deg,#42a5f5,#1976d2) */
    background:linear-gradient(45deg,#ffacc5,#ff69eb);
    background:linear-gradient(315deg,#ff86c8,#ffacc5);
}
#main{
    height: 600px;
    width: 350px;
    border: 2px solid black;
    border-radius: 30px;
    background: none;
    box-sizing: border-box;
    margin-top: 100px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px #696969;
}
#display{
    height: 70px;
    width: 280px;
    border: 2px solid black;
    margin: 20px;
    margin-top: 60px;
    margin-left: 30px;
    border-radius: 30px;
    align-content: center;
    margin-bottom: 50px;
    background-color: #ffeedd;
    box-shadow: 2px 2px 5px #696969;
    box-sizing: border-box;
}
#user-text{
    font-weight: bold;
    font-size: 35px;
    text-align: end;
    margin-right: 20px;
}
.button{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    font-size: 20px;
    margin-left: 22px;
    margin-bottom: 27px;
    font-weight: 600;
     background-color: #ffeedd;
     border: 2px solid black;
     box-shadow: 1px 1px 4px #696969;
}
#calculate{
    width: 140px;
    height: 65px;
    border-radius: 40px;
    margin-left: 20px;
    font-size: 40px;
     background-color: #ffc6ff;
     box-shadow: 2px 2px 5px #696969;
} 
